# Swift Package Manager
.build/
.swiftpm/

# Xcode
build/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Backups created by install.command
*.app.bak.*
